div#container {

    main {
        // centering
        @include flex(column, center, center);

        h1{
            color: black;
            text-align: center;
            text-transform: uppercase;
            margin: 30px 0;
        }

        table {
            width: 70%;
            border-collapse: collapse;
            margin-bottom: 50px;

            th, td{
                border: 1px solid #dddddd;
                text-align: center;
                padding: 10px 60px;
            }

            th {
                text-transform: uppercase;
            }

            td {
                color: #fff;

                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }

        #backHome {
            @include link(#00826c, $color1, 10px 30px);
        }

        #newEmployee {
            @include link(#00826c, $color1, 10px 30px);
        }    
    }
}